  - host: '*.#{ALTDOMAIN}#'
    http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: #{NAME}#-#{ENV}#
              port:
                number: 2000
  - host: '#{ALTDOMAIN}#'
    http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: #{NAME}#-#{ENV}#
              port:
                number: 2000
